---
import Layout from "../layouts/Layout.astro";
import { GAME_DEFAULTS } from "./consts";
import Game from "./Game";
import { type GameProps } from "../lib/types";

const { params, props } = Astro.props;

const { name }: { name: string } = params;
const {
  goal = GAME_DEFAULTS.goal,
  text = GAME_DEFAULTS.text,
  size = GAME_DEFAULTS.size,
  tertiary = GAME_DEFAULTS.tertiary,
  list = GAME_DEFAULTS.list,
  board = GAME_DEFAULTS.board,
  stage = GAME_DEFAULTS.stage,
  next,
}: Omit<GameProps, "name"> = props;
---

<Layout title={name}>
  <main>
    <Game
      client:only
      goal={goal}
      size={size}
      text={text}
      tertiary={tertiary}
      next={next}
      list={list}
      board={board}
      stage={stage}
    />
  </main>
</Layout>
